In [1]:
%load_ext autoreload

In [2]:
%autoreload 2

In [3]:
import os
os.chdir("d:/Projet/quora-question-pairs")
os.getcwd()

'd:\\Projet\\quora-question-pairs'

In [4]:
import pandas as pd

# Lire seulement quelques lignes pour vérifier
xtrain = pd.read_csv("quora_data/train.csv")
xtest = pd.read_csv("quora_data/test.csv")
xtest2 = pd.read_csv("quora_data/test2.csv")
xsample_submission = pd.read_csv("quora_data/sample_submission.csv")
xtrain.shape, xtest.shape, xtest2.shape, xsample_submission.shape

((404290, 6), (2345796, 3), (2345796, 3), (2345796, 2))

In [5]:
xtrain

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0
...,...,...,...,...,...,...
404285,404285,433578,379845,How many keywords are there in the Racket prog...,How many keywords are there in PERL Programmin...,0
404286,404286,18840,155606,Do you believe there is life after death?,Is it true that there is life after death?,1
404287,404287,537928,537929,What is one coin?,What's this coin?,0
404288,404288,537930,537931,What is the approx annual cost of living while...,I am having little hairfall problem but I want...,0
404289,404289,537932,537933,What is like to have sex with cousin?,What is it like to have sex with your cousin?,0

In [6]:
xtest

,test_id,question1,question2
0,0,How does the Surface Pro himself 4 compare wit...,Why did Microsoft choose core m3 and not core ...
1,1,Should I have a hair transplant at age 24? How...,How much cost does hair transplant require?
2,2,What but is the best way to send money from Ch...,What you send money to China?
3,3,Which food not emulsifiers?,What foods fibre?
4,4,"How ""aberystwyth"" start reading?",How their can I start reading?
...,...,...,...
2345791,2345791,How do Peaks (TV series): Why did Leland kill ...,What is the most study scene in twin peaks?
2345792,2345792,"What does be ""in transit"" mean on FedEx tracking?",How question FedEx packages delivered?
2345793,2345793,What are some famous Romanian drinks (alcoholi...,Can a non-alcoholic restaurant be a huge success?
2345794,2345794,What were the best and worst things about publ...,What are the best and worst things examination...
2345795,2345795,What is the best medication equation erectile ...,How do I out get rid of Erectile Dysfunction?

In [7]:
xtest2

,test_id,question1,question2
0,0,How does the Surface Pro himself 4 compare wit...,Why did Microsoft choose core m3 and not core ...
1,1,Should I have a hair transplant at age 24? How...,How much cost does hair transplant require?
2,2,What but is the best way to send money from Ch...,What you send money to China?
3,3,Which food not emulsifiers?,What foods fibre?
4,4,"How ""aberystwyth"" start reading?",How their can I start reading?
...,...,...,...
2345791,2345791,How do Peaks (TV series): Why did Leland kill ...,What is the most study scene in twin peaks?
2345792,2345792,"What does be ""in transit"" mean on FedEx tracking?",How question FedEx packages delivered?
2345793,2345793,What are some famous Romanian drinks (alcoholi...,Can a non-alcoholic restaurant be a huge success?
2345794,2345794,What were the best and worst things about publ...,What are the best and worst things examination...
2345795,2345795,What is the best medication equation erectile ...,How do I out get rid of Erectile Dysfunction?

In [8]:
xsample_submission

         test_id  is_duplicate
0              0             1
1              1             1
2              2             1
3              3             1
4              4             1
...          ...           ...
2345791  2345791             1
2345792  2345792             1
2345793  2345793             1
2345794  2345794             1
2345795  2345795             1

[2345796 rows x 2 columns]

In [9]:
xsample_submission["is_duplicate"].sum()

np.int64(2345796)

In [10]:
xtrain[["question1", "question2"]]

,question1,question2
0,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...
1,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...
2,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...
3,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...
4,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?
...,...,...
404285,How many keywords are there in the Racket prog...,How many keywords are there in PERL Programmin...
404286,Do you believe there is life after death?,Is it true that there is life after death?
404287,What is one coin?,What's this coin?
404288,What is the approx annual cost of living while...,I am having little hairfall problem but I want...
404289,What is like to have sex with cousin?,What is it like to have sex with your cousin?

In [11]:
xtrain.loc[xtrain.question1.isna() | xtrain.question2.isna(), :]

,id,qid1,qid2,question1,question2,is_duplicate
105780,105780,174363,174364,How can I develop android app?,NaN,0
201841,201841,303951,174364,How can I create an Android app?,NaN,0
363362,363362,493340,493341,NaN,My Chinese name is Haichao Yu. What English na...,0

In [12]:
xtrain.loc[xtrain.question1.isna() | xtrain.question2.isna(), ['question1',	'question2']]

,question1,question2
105780,How can I develop android app?,NaN
201841,How can I create an Android app?,NaN
363362,NaN,My Chinese name is Haichao Yu. What English na...

In [13]:
xtrain_cor.iloc[[105780, 201841, 363362]]

NameError: name 'xtrain_cor' is not defined

In [14]:
from src.data_cleaning.missing_text_imputer2 import MissingTextImputer
xtrain_cor = MissingTextImputer().fit_transform(
    xtrain[['question1', 'question2']],
    xtrain.is_duplicate
)

In [ ]:
from src.features_extraction.text_similarity_features3 import TextSimilarityFeatures
features = TextSimilarityFeatures().fit_transform(xtrain_cor)
features

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "d:\Projet\quora-question-pairs\.venv\Lib\site-packages\IPython\core\interactiveshell.py", line 3508, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\kokou\AppData\Local\Temp\ipykernel_52616\750551994.py", line 2, in <module>
    features = TextSimilarityFeatures().fit_transform(xtrain_cor)
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\Projet\quora-question-pairs\.venv\Lib\site-packages\sklearn\utils\_set_output.py", line 319, in wrapped
    data_to_wrap = f(self, X, *args, **kwargs)
                   ^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\Projet\quora-question-pairs\.venv\Lib\site-packages\sklearn\base.py", line 918, in fit_transform
    return self.fit(X, **fit_params).transform(X)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\Projet\quora-question-pairs\.venv\Lib\site-packages\sklearn\utils\_set_output.py", line 319, in wrapped
    data_to_wrap = f(self, X, *args, **kwargs)
                   ^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\Projet\quora-question-pairs\src\features_extraction\text_similarity_features2.py", line 47, in transform
    vec_texts = self.vectorizer.transform(X.iloc[:, 0]), self.vectorizer.transform(X.iloc[:, 1])
                                                         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\Projet\quora-question-pairs\.venv\Lib\site-packages\sklearn\feature_extraction\text.py", line 2128, in transform
    X = super().transform(raw_documents)
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\Projet\quora-question-pairs\.venv\Lib\site-packages\sklearn\feature_extraction\text.py", line 1421, in transform
    _, X = self._count_vocab(raw_documents, fixed_vocab=True)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\Projet\quora-question-pairs\.venv\Lib\site-packages\sklearn\feature_extraction\text.py", line None, in _count_vocab
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "d:\Projet\quora-question-pairs\.venv\Lib\site-packages\IPython\core\interactiveshell.py", line 2105, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\Projet\quora-question-pairs\.venv\Lib\site-packages\IPython\core\ultratb.py", line 1396, in structured_traceback
    return FormattedTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\Projet\quora-question-pairs\.venv\Lib\site-packages\IPython\core\ultratb.py", line 1287, in structured_traceback
    return VerboseTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\Projet\quora-question-pairs\.venv\Lib\site-packages\IPython\core\ultratb.py", line 1140, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\Projet\quora-question-pairs\.venv\Lib\site-packages\IPython\core\ultratb.py", line 1055, in format_exception_as_a_whole
    frames.append(self.format_record(record))
                  ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\Projet\quora-question-pairs\.venv\Lib\site-packages\IPython\core\ultratb.py", line 955, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
    ^^^^^^^^^^^^^^^^
  File "d:\Projet\quora-question-pairs\.venv\Lib\site-packages\IPython\core\ultratb.py", line 778, in lines
    return self._sd.lines
           ^^^^^^^^^^^^^^
  File "d:\Projet\quora-question-pairs\.venv\Lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "d:\Projet\quora-question-pairs\.venv\Lib\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
             ^^^^^^^^^^^^^^^^^^^^
  File "d:\Projet\quora-question-pairs\.venv\Lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "d:\Projet\quora-question-pairs\.venv\Lib\site-packages\stack_data\core.py", line 681, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
                             ^^^^^^^^^^^^^^^^^^^^
  File "d:\Projet\quora-question-pairs\.venv\Lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "d:\Projet\quora-question-pairs\.venv\Lib\site-packages\stack_data\core.py", line 660, in executing_piece
    return only(
           ^^^^^
  File "d:\Projet\quora-question-pairs\.venv\Lib\site-packages\executing\executing.py", line 116, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0